.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 2rem;
}

.h1 {
	margin-bottom: 1em;
	font-size: 2.4rem;
	border-bottom: 1px solid hsl(26, 100%, 55%);
	text-align: center;
}

@media (min-width: 768px) {
	.h1 {
		font-size: 3rem;
	}

	.ul {
		align-self: flex-start;
	}
}
