.nav {
	grid-column: 3 / 11;
}

.nav-list {
	display: flex;
	align-items: center;
}

.nav-link {
	position: relative;
	padding: 0.4em 0.8em 48px;
	color: hsl(219, 9%, 45%);
	font-size: 1rem;
	text-transform: capitalize;
	outline: none;
	border-bottom: 5px solid transparent;
	transition: border-bottom 0.3s, color 0.3s;
	z-index: 1;
}

.nav-link:hover,
.nav-link:focus {
	color: hsl(220, 13%, 13%);
	border-bottom: 5px solid hsl(26, 100%, 55%);
}
