.dl {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1.5em;
	margin: 2em 0;
}

.item-container {
	width: calc(100% - 1.5em);
}

.item-container dt {
	margin-bottom: 0.3em;
	font-size: 1.2rem;
	font-weight: bold;
}

.item-container dd {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5em;
	width: 100%;
}

.btns-container {
	display: flex;
	gap: 0.5em;
}

.functional-btn {
	padding: 0.3em 0.6em;
	background-color: hsl(220, 13%, 13%);
	border-radius: 8px;
	color: hsl(0, 0%, 100%);
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid transparent;
	transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.functional-btn:hover,
.functional-btn:focus {
	background-color: #fff;
	color: hsl(220, 13%, 13%);
	border-color: hsl(220, 13%, 13%);
}

.form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5em;
	overflow: hidden;
	overflow-wrap: break-word;
}

.form p {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.form input {
	padding: 0.4em 0.6em;
	border-radius: 8px;
	border: none;
	border: 2px solid hsl(220, 13%, 13%);
	transition: border-color 0.3s;
	font-size: 1rem;
	width: clamp(10ch, 20ch, 70%);
}

.form input:focus,
.form input:hover {
	outline: none;
	border-color: hsl(26, 100%, 55%);
}

.form-btns {
	margin-bottom: 0.2em;
	display: flex;
	gap: 0.5em;
}

.form-btns button {
	font-size: 1rem;
	text-transform: none;
}

.form-btns button:first-child {
	color: hsl(26, 100%, 55%);
	background-color: hsl(223, 64%, 98%);
	border-color: hsl(26, 100%, 55%);
}

.form-btns button:first-child:hover,
.form-btns button:first-child:focus {
	color: hsl(223, 64%, 98%);
	background-color: hsl(26, 100%, 55%);
}

.form-btns button:last-child {
	color: hsl(220, 13%, 13%);
	background-color: hsl(0, 0%, 100%);
	border-color: hsl(220, 13%, 13%);
}

.form-btns button:last-child:hover,
.form-btns button:last-child:focus {
	color: hsl(0, 0%, 100%);
	background-color: hsl(220, 13%, 13%);
}

.form-btns button:disabled {
	background-color: hsl(25, 100%, 94%);
	border-color: hsl(25, 100%, 94%);
	color: hsl(219, 9%, 45%);
}

.form-btns button:disabled:hover {
	color: hsl(220, 14%, 75%);
	background-color: inherit;
}

.error {
	width: 100%;
	font-size: 0.8rem;
	font-weight: bold;
	color: tomato;
}

@media (min-width: 768px) {
	.item-container {
		max-width: calc(50% - 1.5em);
	}
}
