.nav-title-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 1em 0 2em;
}

.h1 {
	font-size: 1.2rem;
	text-align: right;
}

.h2 {
	margin-bottom: 1em;
	text-align: center;
}

.order-id {
	font-size: 1rem;
	font-weight: normal;
}

.order-id::before {
	content: '\a';
	white-space: pre;
}

.discounted-by {
	font-size: 0.9rem;
	font-weight: bold;
	color: hsl(26, 100%, 55%);
	text-transform: uppercase;
	text-align: center;
}
