.form {
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
	padding-top: 20px;
	flex-wrap: wrap;
	min-height: 80px;
}

.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 14px;
	flex: 1 1 auto;
	min-width: 50%;
	justify-content: flex-end;
}

.label {
	order: -1;
	margin-bottom: -15px;
	text-align: left;
	font-size: 0.9rem;
	transition: margin-bottom 0.15s ease-in, color 0.15s;
}

.input {
	padding: 0.2em 0 0.4em;
	width: 100%;
	border-style: none none solid;
	border-width: 0px 0px 1px;
	border-color: hsl(0, 0%, 0%);
	outline: none;
	font-weight: bold;
	background-color: transparent;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
	margin-bottom: 0px;
	color: hsl(219, 9%, 45%);
}

.submit {
	margin-bottom: 14px;
	text-align: center;
	padding: 0.6em 0.8em;
	flex: 1 1 auto;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid #000;
	transition: color 0.3s, background-color 0.3s;
}

.submit:focus,
.submit:hover {
	color: hsl(223, 64%, 98%);
	background-color: hsl(220, 13%, 13%);
}
