.dl {
	margin: 2.5em 0 1.5em;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 0.75em 0;
}

.container:first-of-type {
	border-top: 1px solid hsl(220, 14%, 75%);
}

.container:nth-of-type(2) {
	border-bottom: 1px solid hsl(220, 14%, 75%);
}

@media (min-width: 992px) {
	.dl {
		grid-row: 2 / 3;
		grid-column: 3 / 4;
	}
}
