.header {
	display: flex;
	align-items: center;
	column-gap: 1em;
	margin-bottom: 1em;
}

.h1 {
	color: hsl(220, 13%, 13%);
	font-size: 1.8rem;
}

.art {
	padding: 0.3em 0.6em;
	font-size: 0.9rem;
	font-weight: bold;
	text-transform: uppercase;
	color: hsl(219, 9%, 45%);
	background-color: hsl(220, 14%, 75%);
	border-radius: 8px;
}

.header,
.main {
	padding: 0 2rem;
}

.main {
	position: relative;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 2em;
}
