.header {
	display: flex;
	align-items: center;
	column-gap: 1em;
	margin-bottom: 1em;
}

.h1 {
	color: hsl(220, 13%, 13%);
	font-size: 1.8rem;
}

.art {
	padding: 0.3em 0.6em;
	font-size: 0.9rem;
	font-weight: bold;
	text-transform: uppercase;
	color: hsl(219, 9%, 45%);
	background-color: hsl(220, 14%, 75%);
	border-radius: 8px;
}

.header,
.main {
	padding: 0 2rem;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 2em;
}

.product {
	display: flex;
	column-gap: 1.5em;
}

.img {
	aspect-ratio: 1 / 1;
	height: 120px;
	border-radius: 8px;
	object-fit: cover;
}

.product-details {
	display: flex;
	flex-direction: column;
	row-gap: 0.2em;
}

.annotation {
	font-size: 0.6rem;
	font-weight: bold;
	text-transform: uppercase;
	color: hsl(26, 100%, 55%);
}

.h2,
.discounted-price {
	font-size: 1.1rem;
}

.prices {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	row-gap: 0.5em;
	font-weight: bold;
}

.original-price {
	padding: 0.3em 0.6em;
	font-size: 0.75rem;
	color: hsl(26, 100%, 55%);
	background-color: hsl(25, 100%, 94%);
	border-radius: 8px;
	text-decoration: line-through;
}

.savings {
	margin-top: 2em;
	padding: 1em 2em;
	font-size: 1.1rem;
	font-weight: bold;
	color: hsl(223, 64%, 98%);
	background-color: hsl(26, 100%, 55%);
	border-radius: 8px;
}
