.div {
	margin-bottom: 0.5em;
	display: flex;
	gap: 0.5em;
}

.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 5rem;
	margin-bottom: 4em;
	padding: 1rem;
}

.h2 {
	font-size: 1.6rem;
	margin-bottom: 0.75em;
}

.h2:last-child,
.order-content .h2 {
	position: relative;
}

.h2:last-child {
	margin-bottom: 0.3em;
	text-align: center;
}

.h2:last-child::before,
.order-content .h2::before {
	opacity: 0.3;
	content: '';
	position: absolute;
	top: -2.5rem;
	left: -1rem;
	width: calc(100% + 2rem);
	height: 1px;
	background-color: hsl(220, 14%, 75%);
}

.title {
	font-weight: bold;
}

.discount {
	text-transform: uppercase;
	font-weight: bold;
}

@media (min-width: 992px) {
	.wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto-fit);
	}

	.h2:last-child::before,
	.order-content .h2::before {
		height: 0;
	}

	.h2:last-child {
		margin: 1em 0;
		width: 100%;
		grid-row: 2 / 3;
		grid-column: 1 / 3;
	}

	.form-data {
		grid-column: 1 / 2;
		border-right: 3px solid hsl(220, 14%, 75%);
		height: max-content;
		padding: 2em 2em 2em 0;
	}

	.order-content {
		padding: 2em 0 0 3em;
		grid-column: 2 / -1;
	}
}
