.nav-list {
	display: flex;
	position: absolute;
	margin-top: 1em;
	opacity: 0;
	visibility: none;
	flex-direction: column;
	row-gap: 1.5em;
	transition: opacity 0.3s;
}

.hero-bg,
.hero-backdrop {
	visibility: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	transform: translate(-120%, 0);
	transition: transform 0.5s;
}

.hero-bg {
	width: calc(100vw / 3 * 2);
	background-color: hsl(0, 0%, 100%);
}

.hero-backdrop {
	opacity: 0.75;
	width: calc(100vw / 3);
	background-color: hsl(0, 0%, 0%);
}

.hero-backdrop-active {
	visibility: visible;
	transform: translate(200%, 0);
}

.nav-list-active {
	opacity: 1;
	visibility: visible;
}

.hero-bg-active {
	visibility: visible;
	transform: translate(0, 0);
}

.nav-link {
	position: relative;
	padding: 0.4em 0.8em;
	color: hsl(220, 13%, 13%);
	font-weight: bold;
	font-size: 1rem;
	outline: none;
	transition: color 0.3s;
	z-index: 1;
}

.nav-link:hover,
.nav-link:focus {
	color: hsl(26, 100%, 55%);
}
