.main {
	line-height: 1.5;
}

.h2 {
	font-size: inherit;
	margin-bottom: 0.5em;
}

article:nth-of-type(2) .h2 {
	margin-bottom: 0.2em;
}

.article {
	margin-top: 1.5em;
}

.list {
	list-style: inside;
}

.footer {
	margin-top: 1.5em;
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.2;
}

.bold {
	font-weight: bold;
}

.br::before {
	content: '\a \a';
	white-space: pre;
}

.readme {
	display: block;
	margin: 1.5em 0;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	color: hsl(26, 100%, 55%);
	transition: color 0.3s, scale 0.3s;
	outline: none;
}

.readme:hover,
.readme:focus {
	color: hsl(220, 14%, 75%);
	scale: 1.05;
}
