.list {
	display: flex;
	flex-direction: column;
	row-gap: 2.5em;
	width: 100%;
}

.product {
	display: flex;
	justify-content: space-between;
	column-gap: 1.5em;
	align-items: center;
}

.img {
	aspect-ratio: 1 / 1;
	height: 130px;
	border-radius: 8px;
	object-fit: cover;
}

.product-details {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	row-gap: 0.2em;
}

.annotation {
	font-size: 0.6rem;
	font-weight: bold;
	text-transform: uppercase;
	color: hsl(26, 100%, 55%);
}

.h2,
.discounted-price {
	font-size: 1.1rem;
	text-align: right;
}

.prices {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	row-gap: 0.5em;
	font-weight: bold;
}

.original-price {
	padding: 0.3em 0.6em;
	font-size: 0.75rem;
	color: hsl(26, 100%, 55%);
	background-color: hsl(25, 100%, 94%);
	border-radius: 8px;
	text-decoration: line-through;
}

.quantity {
	font-size: 0.8rem;
}

@media (min-width: 992px) {
	.list {
		row-gap: 2.5em;
		/* width: 60%; */
	}

	.product-details {
		row-gap: 0.5em;
	}

	.img {
		height: 150px;
	}
}
