.gallery {
	position: relative;
}

.main-img {
	width: 100%;
	object-fit: cover;
}

.carousel-icon {
	aspect-ratio: 1/1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	width: 50px;
	background-color: hsl(223, 64%, 98%);
	border-radius: 50%;
	transform: translate(0, -50%);
	transition: background-color 0.4s;
	cursor: pointer;
}

.carousel-icon:first-of-type {
	left: 5%;
}

.carousel-icon:last-of-type {
	right: 5%;
}

.carousel-icon:hover,
.carousel-icon:focus {
	background-color: hsl(26, 100%, 55%);
}

@media (min-width: 768px) {
	.main-img {
		border-radius: 15px;
	}
}

@media (min-width: 992px) {
	.gallery {
		width: 45%;
	}

	.thumbnails {
		display: flex;
		margin-top: 1.5em;
		column-gap: 1em;
		min-width: 0;
	}

	.img {
		position: relative;
		width: 100%;
		border: 3px solid transparent;
		border-radius: 15px;
		cursor: pointer;
	}

	.img-active {
		border: 3px solid hsl(26, 100%, 55%);
		opacity: 0.4;
	}

	.img-btn:hover .img,
	.img-btn:focus .img {
		opacity: 0.4;
	}
}
