@value lightbox from './LightBox.module.css';

.thumbnails {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5em;
	column-gap: 1em;
	min-width: 0;
}

.img {
	aspect-ratio: 1 / 1;
	width: 100%;
	max-width: 110px;
	border-radius: 12px;
	object-fit: cover;
	cursor: pointer;
}

.img-btn {
	font-size: 0;
	border: 3px solid transparent;
	border-radius: 15px;
}

.img-btn-active .img {
	opacity: 0.3;
}

.img-btn-active {
	border: 3px solid hsl(26, 100%, 55%);
}

.img-btn:hover .img,
.img-btn:focus .img {
	opacity: 0.3;
}

.lightbox .thumbnails {
	margin-top: 0;
	max-width: 80%;
	align-self: center;
	justify-content: space-around;
}
