.thumbnails {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5em;
	column-gap: 1em;
	min-width: 0;
}

.img {
	aspect-ratio: 1 / 1;
	position: relative;
	width: 100%;
	max-width: 110px;
	border: 3px solid transparent;
	border-radius: 15px;
	cursor: pointer;
}

.img-active {
	border: 3px solid hsl(26, 100%, 55%);
	opacity: 0.4;
}

.img-btn:hover .img,
.img-btn:focus .img {
	opacity: 0.4;
}
