.lightbox {
	aspect-ratio: 1 / 1;
	position: fixed;
	top: 20%;
	left: 50%;
	height: 50vh;
	border-radius: 15px;
	transform: translate(-50%, 0);
	z-index: 9999;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.main-img {
	position: relative;
}

.close-btn {
	align-self: end;
	cursor: pointer;
}
