.main {
	height: 100vh;
	width: 100%;
}

.info {
	padding: 1em;
}

.amount-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8em;
	width: 100%;
	background-color: hsl(223, 64%, 98%);
	border-radius: 8px;
}

.reduce-amount-btn,
.add-amount-btn {
	padding: 0.5em 1em;
}

.reduce-amount-btn img,
.add-amount-btn img {
	transition: scale 0.3s;
}

.reduce-amount-btn:hover img,
.add-amount-btn:hover img,
.reduce-amount-btn:focus img,
.add-amount-btn:focus img {
	scale: 1.5;
}

.items-amount {
	font-weight: bold;
}

.error {
	font-size: 2rem;
	color: hsl(26, 100%, 55%);
	font-weight: bold;
}

@media (min-width: 768px) {
	.main {
		padding: 2em 5em;
	}
}

@media (min-width: 992px) {
	.main {
		display: flex;
		column-gap: 7em;
		margin-top: 5em;
		padding: 0 2em;
	}

	.info {
		margin-top: 2.5em;
		width: 55%;
	}

	.btns {
		display: flex;
		column-gap: 1em;
	}

	.amount-btns {
		width: 50%;
	}
}
