.main {
	height: 100vh;
	width: 100%;
}

.info {
	padding: 1em;
}

.annotation {
	font-size: 0.8rem;
	text-transform: uppercase;
	color: hsl(26, 100%, 55%);
}

.h1 {
	margin: 0.5em 0;
	font-size: 1.6rem;
	color: hsl(220, 13%, 13%);
}

.description {
	line-height: 1.4;
	color: hsl(219, 9%, 45%);
}

.prices {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	margin: 2em 0;
	font-weight: bold;
}

.discounted-price {
	grid-column: 1 / 2;
	font-size: 1.6rem;
}

.discount-percent {
	grid-column: 3 / 4;
	padding: 0.3em 0.6em;
	color: hsl(26, 100%, 55%);
	background-color: hsl(25, 100%, 94%);
	border-radius: 8px;
}

.original-price {
	grid-column: -2 / -1;
	color: hsl(220, 14%, 75%);
	text-decoration: line-through;
}

.btns {
}

.amount-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8em;
	width: 100%;
	background-color: hsl(223, 64%, 98%);
	border-radius: 8px;
}

.reduce-amount-btn,
.add-amount-btn {
	padding: 0.5em 1em;
}

.reduce-amount-btn img,
.add-amount-btn img {
	transition: scale 0.3s;
}

.reduce-amount-btn:hover img,
.add-amount-btn:hover img,
.reduce-amount-btn:focus img,
.add-amount-btn:focus img {
	scale: 1.5;
}

.items-amount {
	font-weight: bold;
}

.add-to-cart-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1em;
	padding: 1em;
	width: 100%;
	font-weight: bold;
	color: hsl(0, 0%, 100%);
	background-color: hsl(26, 100%, 55%);
	border-radius: 8px;
	transition: box-shadow 0.4s, opacity 0.4s;
}

.add-to-cart-btn:hover,
.add-to-cart-btn:focus {
	opacity: 0.6;
	-webkit-box-shadow: 0px 17px 35px -11px rgba(255, 125, 26, 1);
	-moz-box-shadow: 0px 17px 35px -11px rgba(255, 125, 26, 1);
	box-shadow: 0px 17px 35px -11px rgba(255, 125, 26, 1);
}

.cart-icon {
	margin-right: 1.5em;
}
