.main {
	line-height: 1.5;
}

.h2 {
	font-size: inherit;
	margin-bottom: 0.5em;
}

article:nth-of-type(2) .h2 {
	margin-bottom: 0.2em;
}

.article {
	margin-top: 1.5em;
}

.list {
	list-style: inside;
}

.footer {
	margin-top: 1.5em;
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.2;
}

.bold {
	font-weight: bold;
}

.br::before {
	content: '\a \a';
	white-space: pre;
}
