.main {
	line-height: 1.5;
}

.h2 {
	font-size: inherit;
}

.article {
	margin-top: 1.5em;
}

.list {
	list-style: inside;
}

.footer {
	margin-top: 1.5em;
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.2;
}

.link {
	font-weight: bold;
	font-size: 1.2rem;
	color: hsl(26, 100%, 55%);
	outline: none;
	transition: color 0.3s;
}

.link:hover,
.link:focus {
	color: hsl(220, 14%, 75%);
}

.bold {
	font-weight: bold;
}
