.list {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.list .desc:first-of-type {
	margin-bottom: 1.5em;
}

.title {
	font-weight: bold;
	font-size: 1.2rem;
}

.link {
	display: block;
	padding: 0.7em 1.4em;
	width: 100%;
	font-weight: bold;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	transition: color 0.3s, background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.link:focus {
	transform: scale(1.05);
}

.list .desc:first-of-type .link {
	color: hsl(223, 64%, 98%);
	background-color: hsl(26, 100%, 55%);
}

.list .desc:first-of-type .link:hover,
.list .desc:first-of-type .link:focus {
	background-color: hsl(26, 100%, 60%);
}

.list .desc:last-of-type .link {
	border-color: hsl(26, 100%, 55%);
}

.list .desc:last-of-type .link:hover,
.list .desc:last-of-type .link:focus {
	color: hsl(223, 64%, 98%);
	background-color: hsl(26, 100%, 60%);
	border-color: transparent;
}

.span {
	display: block;
	width: fit-content;
}

.signed-li:not(:last-of-type) {
	margin-bottom: 0.75em;
}

.signed-link,
.logout-btn {
	padding: 0.3em 0.3em 0.3em 0;
	font-size: 1rem;
	transition: color 0.3s;
	outline: none;
}

.signed-link:focus,
.signed-link:hover,
.logout-btn:focus,
.logout-btn:hover {
	text-decoration: underline;
	color: hsl(220, 14%, 75%);
}

.signed-list .signed-li:nth-last-child(2)::after {
	content: '';
	position: absolute;
	top: 7em;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: hsl(220, 14%, 75%);
}
