.link {
	outline: none;
}

.li:has(> .link:hover) {
	box-shadow: 0px 3px 12px 4px rgba(0, 0, 0, 0.75);
}

.li:has(> .link:focus) {
	box-shadow: 0px 5px 16px 6px rgba(0, 0, 0, 0.75);
}

.li {
	position: relative;
	width: calc(50% - 1rem);
	border-radius: 15px;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
	transition: box-shadow 0.3s, scale 0.3s ease-in-out;
}

.li:hover,
.li:has(:focus) {
	scale: 1.025;
}

.img {
	aspect-ratio: 1 / 1;
	width: 100%;
	object-fit: cover;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.details {
	padding: 0.5em 0.8em;
}

.annotation {
	margin-bottom: 0.2em;
	font-size: 0.6rem;
	font-weight: bold;
	text-transform: uppercase;
	color: hsl(26, 100%, 55%);
}

.name {
	font-size: 1rem;
	font-weight: bold;
	color: hsl(220, 13%, 13%);
	transition: color 0.3s;
}

.name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.price {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	margin: 0.4em 0;
	font-weight: bold;
}

.discounted-price {
	grid-column: 1 / 2;
	font-size: 1.1rem;
}

.discount-percent {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.2em 0.3em;
	font-size: 0.8rem;
	color: hsl(0, 0%, 100%);
	background-color: hsl(26, 100%, 45%);
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

.original-price {
	grid-column: -2 / -1;
	color: hsl(220, 14%, 75%);
	text-decoration: line-through;
}

@media (min-width: 768px) {
	.li {
		width: 200px;
	}

	.img {
		height: 200px;
	}

	.details {
		padding: 0.8em 1em;
	}

	.annotation {
		font-size: 0.7rem;
	}

	.discount-percent {
		font-size: 0.9rem;
	}

	.discounted-price {
		font-size: 1.3rem;
	}

	.original-price {
		font-size: 0.8rem;
	}
}
