.main {
	text-align: center;
	font-style: normal;
}

.h2 {
	font-size: 1.2rem;
}
.list {
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5em;
}

.link {
	font-weight: bold;
	color: hsl(26, 100%, 55%);
	outline: none;
	transition: color 0.3s;
}

.link:hover,
.link:focus {
	color: hsl(220, 14%, 75%);
}
