.placeholder {
	height: 91px;
}

.header {
	top: 0;
	position: fixed;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	padding: 1em;
	max-width: 1200px;
	background-color: hsl(0, 0%, 100%);
	border-bottom: 5px solid hsl(223, 64%, 98%);
	z-index: 1000;
}

.mobile-nav-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 0.5em;
	z-index: 0;
	overflow: hidden;
}

.nav-btn {
	position: relative;
	padding: 20px;
	z-index: 1;
}

.btn-content,
.btn-content::before,
.btn-content::after {
	position: absolute;
	height: 3.5px;
	width: 18px;
	background-color: hsl(219, 9%, 45%);
	transition: background-color 0.3s;
	transform-origin: right;
}

.btn-content {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: height 0.1s;
}

.btn-content::before,
.btn-content::after {
	content: '';
	left: 0;
	transition: transform 0.3s;
}

.btn-content::before {
	top: -8px;
}

.btn-content::after {
	bottom: -8px;
}

.nav-btn:hover .btn-content,
.nav-btn:hover .btn-content::before,
.nav-btn:hover .btn-content::after,
.nav-btn:focus .btn-content,
.nav-btn:focus .btn-content::before,
.nav-btn:focus .btn-content::after {
	background-color: hsl(26, 100%, 55%);
}

.btn-active .btn-content {
	height: 0;
}

.btn-active .btn-content::before {
	transform: rotate(-45deg);
}

.btn-active .btn-content::after {
	transform: rotate(45deg);
}

.cart-container,
.account-container {
	position: relative;
	width: max-content;
	z-index: -1;
}

.cart-container {
	grid-column: -3/-2;
}

.account-container {
	grid-column: -2 / -1;
}

.cart-btn,
.account-btn {
	padding: 0.4em 0.8em;
}

.cart-img-container {
	position: relative;
}

.avatar-img {
	width: 40px;
	border: 3px solid transparent;
	border-radius: 50%;
	transition: border-color 0.3s;
}

.cart-account-container {
	position: fixed;
	top: 75px;
	left: 50%;
	padding: 1.2em;
	width: 100%;
	max-width: 350px;
	max-height: 70vh;
	height: max-content;
	background-color: hsl(223, 64%, 98%);
	border-radius: 8px;
	-webkit-box-shadow: 0px 10px 21px -9px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 10px 21px -9px rgba(66, 68, 90, 1);
	box-shadow: 0px 10px 21px -9px rgba(66, 68, 90, 1);
	overflow: auto;
}

.cart-container .cart-account-container {
	min-height: 250px;
}

.cart-container .cart-account-container::after {
	content: '';
	position: absolute;
	top: 4em;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: hsl(220, 14%, 75%);
}

.account-container .cart-account-container {
	width: max-content;
	min-width: 280px;
	left: 55%;
}

.account-container:hover .account-btn .avatar-img,
.account-container:focus .account-btn .avatar-img {
	border: 3px solid hsl(26, 100%, 55%);
}

@media (min-width: 420px) {
	.header {
		grid-template-columns: repeat(7, 1fr);
	}

	.account-container .cart-account-container {
		left: 60%;
	}
}

@media (min-width: 490px) {
	.cart-account-container {
		left: 57.5%;
	}

	.account-container .cart-account-container {
		left: 67.5%;
	}
}

@media (min-width: 576px) {
	.header {
		grid-template-columns: repeat(9, 1fr);
	}

	.cart-account-container {
		position: absolute;
		top: 54px;
		left: -160%;
		max-width: none;
	}

	.account-container .cart-account-container {
		left: -160%;
	}

	.cart-container .cart-account-container {
		min-width: 350px;
	}
}

@media (min-width: 768px) {
	.cart-account-container {
		left: -100%;
	}

	.account-container .cart-account-container {
		left: -100%;
		min-width: auto;
	}
}

@media (min-width: 992px) {
	.placeholder {
		height: 123px;
	}

	.header {
		padding: 1.5em 3em;
		grid-template-columns: repeat(12, 1fr);
	}

	.logo {
		grid-column: 1 / 2;
	}

	.avatar-img {
		width: 50px;
	}

	.cart-account-container {
		top: 70px;
	}

	.account-container .cart-account-container {
		left: -50%;
	}
}

@media (min-width: 1260px) {
	.header {
		padding: 1.5em 0;
	}
}
