.remove-item-btn {
	padding: 1em;
	width: 5%;
}

.remove-item-btn:hover,
.remove-item-btn:focus {
	filter: brightness(0) saturate(100%) invert(52%) sepia(69%) saturate(1460%) hue-rotate(347deg) brightness(102%)
		contrast(101%);
}
