.list {
	display: flex;
	flex-direction: column;
	row-gap: 1.5em;
}

.list .desc:first-of-type {
	margin-bottom: 1.5em;
}

.title {
	font-weight: bold;
	font-size: 1.2rem;
}

.link {
	display: block;
	padding: 0.7em 1.4em;
	width: 100%;
	font-weight: bold;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	transition: color 0.3s, background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.link:focus {
	transform: scale(1.05);
}

.list .desc:first-of-type .link {
	color: hsl(223, 64%, 98%);
	background-color: hsl(26, 100%, 55%);
}

.list .desc:first-of-type .link:hover,
.list .desc:first-of-type .link:focus {
	background-color: hsl(26, 100%, 60%);
}

.list .desc:last-of-type .link {
	border-color: hsl(26, 100%, 55%);
}

.list .desc:last-of-type .link:hover,
.list .desc:last-of-type .link:focus {
	color: hsl(223, 64%, 98%);
	background-color: hsl(26, 100%, 60%);
	border-color: transparent;
}

.span {
	display: block;
	width: fit-content;
}
